
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #2A2E43;
  position: fixed;
  height: 100%;
  overflow: auto;
  h3 {
    padding: 20px;
    color: white;
  }
  a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
  }
  a.active {
    background-image: linear-gradient(#30C0F2, #5372F4); /* Standard syntax (must be last) */
    background-color: #30C0F2;
    color: white;
  }
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* TEAMS */
#teams {
  overflow: auto;
  white-space: nowrap;
}